.post-table > tbody > tr > td:first-child {
  width: 70px;
  height: 90px;
  text-align: center;
}

.post-table > tbody > tr:active {
  background-color: unset;
  color: unset;
}

.post-table > tbody > tr > td:first-child > div {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.post-table > tbody > tr > td:first-child > .clickable {
  cursor: pointer;
}

.post-table .title {
  font-size: 25px;
  width: 100%;
  height: 45px;
  text-align: left;
}

.post-table .flag-button {
  cursor: pointer;
}

.post-table .flag-button.clicked {
  color: red;
}

.panel {
  margin-bottom: 10px;
}

.main-window-pane {
  padding: 10px;
}

* {
  cursor: initial;
  -webkit-user-select: initial;
  -webkit-user-drag: initial;
}
