.post-table > tbody > tr > td:first-child {
  width: 70px;
  height: 90px;
  text-align: center;
}

.post-table > tbody > tr > td:first-child > div {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.post-table > tbody > tr > td:first-child > .clickable {
  cursor: pointer;
}

.post-table .title {
  font-size: 25px;
  width: 100%;
  height: 45px;
}

.panel {
  margin-bottom: 10px;
}

#app {
  padding: 10px;
}
