<!DOCTYPE html>
<html>
<head>
  <title>Agora</title>
  <link rel="stylesheet" href="css/photon.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<!-- HOME PAGE TEMPLATES -->
  <template id="home">
    <div id="home">
      <keep-alive>
        <router-view class="view"></router-view>
      </keep-alive>
    </div>
  </template>
  <template id="home-list">
    <div>
      <transition-group name="list" tag="div">
        <post-list-component v-for="post in posts" :post="post" :key="post.id"></post-list-component>
      </transition-group>
    </div>
  </template>
  <template id="post-list-item">
    <div class="panel panel-default">
      <table class="table post-table">
        <tbody>
          <tr>
            <td>
              <div class="clickable glyphicon glyphicon-chevron-up" v-on:click="increment()"></div>
              <div class="score">{{ post.score }}</div>
              <div class="clickable glyphicon glyphicon-chevron-down" v-on:click="decrement()"></div>
            </td>
            <td>
              <div class="title">{{ post.title }}</div>
              <div class="author"><span>by {{ post.authorId }} on {{ new Date(post.time).toString() }}</span></div>
              <div class="post-buttons"><router-link class="comments clickable" :to="{ name: 'comments', params: { postid: post.id }}"tag="span">{{ post.childComments ? Object.keys(post.childComments).length : 0 }} comments</router-link>  | <span class="flag-button clickable" v-on:click="toggleFlag()" v-bind:class="{ clicked: post.flag }">{{ post.flag ? "Flagged" : "Flag" }}</span> | <span>Post ID: {{ post.id }}</span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  <template id="comment-list" :posts="posts" :postid="postid">
    <div>
      <comment-list-post :post="postid != null ? posts[postid] : {}"></comment-list-post>
    </div>
  </template>
  <template id="comment-list-post-item">
    <div>
      <div class="panel panel-default">
        <table class="table post-table">
          <tbody>
            <tr>
              <td>
                <div class="clickable glyphicon glyphicon-chevron-up" v-on:click="increment()"></div>
                <div class="score">{{ post.score }}</div>
                <div class="clickable glyphicon glyphicon-chevron-down" v-on:click="decrement()"></div>
              </td>
              <td>
                <div class="title comment-style">{{ post.title }}</div>
                <div class="author"><span>by {{ post.authorId }} on {{ new Date(post.time).toString() }}</span></div>
                <div class="content panel panel-default">
                  {{ post.content }}
                </div>
                <div class="post-buttons">{{ post.childComments ? Object.keys(post.childComments).length : 0 }} comments | <span class="flag-button clickable" v-on:click="toggleFlag()" v-bind:class="{ clicked: post.flag }">{{ post.flag ? "Flagged" : "Flag" }}</span> | <span>Post ID: {{ post.id }}</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <comment-list-comment v-for="comment in post.childComments" :comment="comment">
    </div>
  </template>
  <template id="comment-list-comment-item">
    <div class="comment-panel panel panel-default">
      <table class="table comment-table">
        <tbody>
          <tr>
            <td>
              <div class="author"><span>{{ comment.authorId }} on {{ new Date(comment.time).toString() }}</span></div>
              <div class="content">
                {{ comment.content }}
              </div>
              <div class="comment-buttons"><span class="flag-button clickable" v-on:click="toggleCommentFlag()" v-bind:class="{ clicked: comment.flag }">{{ comment.flag ? "Flagged" : "Flag" }}</span> | <span>Comment ID: {{ comment.id }}</span></div>
            </td>
          </tr>
        </tbody>
      </table>
      <comment-list-comment v-for="childComment in comment.childComments" :comment="childComment">
    </div>
  </template>
  <!-- END HOME PAGE TEMPLATES -->

  <template id="settings">
    <!-- Settings -->
    <div>
      Settings go here
      <button v-on:click="test">Start Test</button>
    </div>
  </template>
  <div id="app" class="window">
    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Navigation</h5>
            <router-link class="nav-group-item" to="/home" tag="span">
              <span class="icon icon-home"></span>
              Home
            </router-link>
            <router-link class="nav-group-item" to="/settings" tag="span">
              <span class="icon icon-light-up"></span>
              Settings
            </router-link>
          </nav>
        </div>
        <div class="pane main-window-pane">
          <keep-alive>
            <router-view keep-alive class="view"></router-view>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
  <script>
      window.jQuery = window.$ = require('jquery');
  </script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</body>
