<!DOCTYPE html>
<html>
<head>
  <title>Agora</title>
  <link rel="stylesheet" href="css/photon.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<!-- HOME PAGE TEMPLATES -->
  <template id="home">
    <div id="home">
      <keep-alive>
        <router-view class="view"></router-view>
      </keep-alive>
    </div>
  </template>
  <template id="home-list">
    <div>
      <button class="btn btn-default" style="margin-bottom: 10px;" v-on:click="addpost = !addpost">Add Post</button><button class="btn btn-default" style="margin-bottom: 10px;" v-on:click="refreshPosts()">Refresh</button>
      <div class="panel panel-default" style="padding: 10px" v-show="addpost">
        <input type="text" class="form-control" placeholder="Title" v-model="postToSubmit.title">
        <textarea class="form-control" rows="3" placeholder="Post Content" v-model="postToSubmit.content"></textarea>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button class="btn btn-default" v-on:click="submitPost()">Submit</button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-danger" v-on:click="addpost = false">Cancel</button>
          </div>
        </div>
      </div>
      <transition-group name="list" tag="div">
        <post-list-component v-for="post in posts" :post="post" :key="post.Hash"></post-list-component>
      </transition-group>
    </div>
  </template>
  <template id="post-list-item">
    <div class="panel panel-default">
      <table class="table post-table">
        <tbody>
          <tr>
            <td>
              <div class="clickable glyphicon glyphicon-chevron-up" v-on:click="increment()"></div>
              <div class="score">{{ post.Score }}</div>
              <div class="clickable glyphicon glyphicon-chevron-down" v-on:click="decrement()"></div>
            </td>
            <td>
              <div class="title">{{ post.Title }}</div>
              <div class="author"><span>by {{ post.Alias }} on {{ new Date(post.Timestamp).toString() }}</span></div>
              <div class="post-buttons"><router-link class="comments clickable" :to="{ name: 'comments', params: { postHash: post.Hash }}"tag="span">Comments</router-link>  | <span class="flag-button clickable" v-on:click="toggleFlag()" v-bind:class="{ clicked: post.Flag }">{{ post.Flag ? "Flagged" : "Flag" }}</span> | <span>Post ID: {{ post.Hash ? post.Hash.substring(0, 20) : '' }}</span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  <template id="comment-list" :posts="posts" :postHash="postHash">
    <comment-list-post :post="postHash != null ? posts[postHash] : {}"></comment-list-post>
  </template>
  <template id="comment-list-post-item">
    <div>
      <div class="panel panel-default">
        <table class="table post-table">
          <tbody>
            <tr>
              <td>
                <div class="clickable glyphicon glyphicon-chevron-up" v-on:click="increment()"></div>
                <div class="score">{{ post.Score }}</div>
                <div class="clickable glyphicon glyphicon-chevron-down" v-on:click="decrement()"></div>
              </td>
              <td>
                <div class="title comment-style">{{ post.Title }}</div>
                <div class="author"><span>by {{ post.Alias }} on {{ new Date(post.Timestamp).toString() }}</span></div>
                <div class="content panel panel-default">
                  {{ post.Content }}
                </div>
                <div class="post-buttons">{{ post.ChildComments ? Object.keys(post.ChildComments).length : 0 }} comments | <span class="reply-button clickable" v-on:click="showReplyBox = !showReplyBox">Reply</span> | <span class="flag-button clickable" v-on:click="toggleFlag()" v-bind:class="{ clicked: post.Flag }">{{ post.Flag ? "Flagged" : "Flag" }}</span> | <span>Post ID: {{ post.Hash ? post.Hash.substring(0, 20) : '' }}</span></div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="panel panel-default" v-show="showReplyBox" style="margin: 10px; padding: 10px;">
          <textarea v-model="comment.content" class="form-control" rows="3" placeholder="Comment content">
          </textarea>
          <button class="btn btn-default" v-on:click="submitComment()">Submit</button>
        </div>
      </div>
      <comment-list-comment v-for="comment in post.ChildComments" :comment="comment" :posthash="post.Hash">
    </div>
  </template>
  <template id="comment-list-comment-item">
    <div class="comment-panel panel panel-default">
      <table class="table comment-table">
        <tbody>
          <tr>
            <td>
              <div class="author"><span>{{ comment.Alias }} on {{ new Date(comment.Timestamp).toString() }}</span></div>
              <div class="content">
                {{ comment.Content }}
              </div>
              <div class="comment-buttons"><span class="reply-button clickable" v-on:click="showReplyBox = !showReplyBox">Reply</span> | <span class="flag-button clickable" v-on:click="toggleCommentFlag()" v-bind:class="{ clicked: comment.Flag }">{{ comment.Flag ? "Flagged" : "Flag" }}</span> | <span>Comment ID: {{ comment.Hash ? comment.Hash.substring(0, 20) : '' }}</span></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel panel-default" v-show="showReplyBox" style="margin: 10px; padding: 10px;">
        <textarea v-model="content" class="form-control" rows="3" placeholder="Comment content">
        </textarea>
        <button class="btn btn-default" v-on:click="submitComment()">Submit</button>
      </div>
      <comment-list-comment v-for="ChildComment in comment.ChildComments" :comment="ChildComment" :posthash="posthash">
    </div>
  </template>
  <!-- END HOME PAGE TEMPLATES -->

  <template id="settings">
    <!-- Settings -->
    <div>
      <div class="panel panel-info">
        <div class="panel-heading">Test Agora Integration</div>
        <div class="panel-body">
          <button class="btn btn-default" v-on:click="test">Start Test</button>
          <button class="btn btn-default" v-on:click="clear">Clear Logs</button>
        </div>
        <ul class="list-group">
          <li class="list-group-item" v-for="item in agoraTestLogs">{{ item }}</li>
        </ul>
      </div>
    </div>
  </template>
  <div id="app" class="window">
    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Navigation</h5>
            <router-link class="nav-group-item" to="/home" tag="span">
              <span class="icon icon-home"></span>
              Home
            </router-link>
            <router-link class="nav-group-item" to="/settings" tag="span">
              <span class="icon icon-light-up"></span>
              Settings
            </router-link>
          </nav>
        </div>
        <div class="pane main-window-pane">
          <keep-alive>
            <router-view keep-alive class="view"></router-view>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
  <script>
      window.jQuery = window.$ = require('jquery');
  </script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</body>
